<div id="signupModal-1">
  <h1>DON'T WAIT! JOIN THE FASTCASHMONEYPLUS REVOLUTION, AND INVEST IN THE CRYPTOCURRENCY EVERYONE IS TALKING ABOUT!</h1>

  <h3>FASTCASH is going fast, and it surely won't last! Get in on the ground floor TODAY!</h3>

  <h3>Don't miss out on the investment opportunity of a LIFETIME! If you don't invest now, you will regret it for the REST OF YOU'RE LIFE. You'll always wonder about "What Could Have Been" if you had bought FashCash early on. "I remember discovering FastCash early on," you'll tell your children at the dinner table, "and I chickened out! I had the opportunity to be a FASTCASH MILLIONAIRE, and I threw it away!".</h3>

  <button id="signupContinue-1" class="signupContinue">GET STARTED NOW</button>
</div>
