<div id="signupModal-2">
  <style>
    .modal-input {
      font-size: 22px;
      background-color: #feb;
      border: 3px solid #888;
    }

    .modal-input:active,
    .modal-input:focus {
      background-color: #def;
    }

    .modal-input-section {
      margin-top: 5px;
    }
    .modal-input-section label {
      font-size: 20px;
      font-family: sans-serif;
    }
  </style>
  <h2>CREATE ACCOUNT</h2>

  <div class="modal-input-section">
    <label>
      EMAIL ADDRESS:
      <input id="signupEmail" class="modal-input" placeholder="EMAIL ADDRESS">
      <br>
      <label style="user-select: none; pointer-events: none"><input type="checkbox" checked>signup for fastcashmoneyplus.biz updates and promotions</label>
    </label>
  </div>

  <div class="modal-input-section">
    <label>
      SECRET PIN -- PLEASE KEEP THIS A SECRET AND DO NOT GIVE IT TO ANYONE WHO ASKS YOU FOR IT:
      <input class="modal-input" placeholder="SECRET PIN -- PLEASE KEEP THIS A SECRET AND DO NOT GIVE IT TO ANYONE WHO ASKS YOU FOR IT">
    </label>
  </div>

  <div class="modal-input-section">
    <label>
      FULL LEGAL NAME:
      <input class="modal-input" placeholder="FULL LEGAL NAME">
    </label>
  </div>

  <div class="modal-input-section">
    <label>
      DATE OF BIRTH dd/mm/yyyy:
      <input class="modal-input" placeholder="DATE OF BIRTH dd/mm/yyyy">
    </label>
  </div>


  <div>
    <button id="signupContinue-2" class="signupContinue">INVEST NOW</button>
  </div>
</div>
