<div id="signupModal-4">
  <style>
    #signupModal-4 h2 {
      margin-top: 30px;
    }
  </style>
  <h1>You're all set to invest in FastCashMoneyPlus!</h1>

  <h2>The FastCashMoneyPlus.biz investment console will walk you through the remaining steps to invest in the highly-sought-after FastCashMoneyPlus ICO!</h2>

  <h2>While the process may seem intimidating at first, rest assured that there is nothing to worry about! Everything will make sense once you're sitting on a mountain of FastCash, and laughing at your misplaced hesitation. In fact, professional psychologists note that healthy individuals are able to overcome their FUD ((F)ear (U)ncertainty (D)oubt) and push through by not second-guessing themselves. </h2>

  <h2>The longer you wait, the faster those FAT FastCash profits will slim down. With the math of compounded returns in your corner, the sooner you invest the better!</h2>

  <h2>Please go to the FASTCASHMONEYPLUS investment console to continue -></h2>
  <a href="./invest.html" target="_blank" class="gotoConsole">GO TO THE FASTCASHMONEYPLUS.biz INVESTMENT CONSOLE</a>
</div>
