<div id="signupModal-1">
  <h1>JOIN THE FASTCASHMONEYPLUS REVOLUTION, AND INVEST IN THE CRYPTOCURRENCY EVERYONE IS TALKING ABOUT!</h1>

<!--   <h3>FASTCASH is going fast, and it surely won't last! Get in on the ground floor TODAY!</h3> -->

  <h3 style="margin-top: 15px">
    Don't sit out on the investment opportunity of a LIFETIME! Otherwise, you will regret it for the REST OF YOU'RE LIFE. You will always wonder about "What Could Have Been" if you had bought FashCash back in the early days. "I remember discovering FastCash in the early days," you'll tell your children at the dinner table, "and I chickened out! I had the opportunity to be a FASTCASH MILLIONAIRE, and I threw it all away!". Don't let that happen to you!
  </h3>

  <div style="display: flex; justify-content: center">
    <button id="signupContinue-1" class="signupContinue">GET STARTED NOW</button>
  </div>
</div>
