<div id="signupModal-3">
  <style>
    #confirmationList {
      padding-left: 40px;
      margin-top: 5px;
    }
    #confirmationList li {
      margin-top: 15px
    }
    #confirmationList label {
      font-family: sans-serif;
      font-size: 20px;
    }
    #confirmationList input {
      transform: scale(1.5);
    }
  </style>
  <h1>PLEASE CLICK ALL OF THE BOXES TO CONTINUE</h1>

  <ul id="confirmationList">
    <li>
      <label>
        <input type="checkbox"> I have read, and agree to, the <a target="_blank" href="./terms.html">Terms of Service</a>
      </label>
    </li>

    <li>
      <label>
        <input type="checkbox"> I have read the <a target="_blank" href="${require('../../resources/FastCashMoneyPlus_WhitePaper-FINAL-2.1.pdf')}">FastCashMoneyPlus White Paper</a>, and comprehend it in it's entirety.
      </label>
    </li>

    <li>
      <label>
        <input type="checkbox"> I have read the <a href="https://etherscan.io/address/0xca5228d1fe52d22db85e02ca305cddd9e573d752#code" target="_blank">FastCashMoneyPlus smart contract source code</a>.
      </label>
    </li>

    <li>
      <label>
        <input type="checkbox"> I am not a resident of Hong Kong, Canada, Senegal, Libya, Nigeria, Germany, or Uraguay.
      </label>
    </li>

    <li>
      <label>
        <input type="checkbox"> I am older than 18.
      </label>
    </li>

    <li>
      <label>
        <input type="checkbox"> I am not a robot.
      </label>
    </li>

    <li>
      <label>
        <input type="checkbox"> I'm ready to start making FAST CASH NOW!.
      </label>
    </li>
  </ul>
</div>
