* {
  padding: 0;
  margin: 0;
}

#navTitle {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #000;
  color: #fff;
}

#navTitle, #navSpace {
  height: 39px;
}

nav {
  font-size: 21px;
  background-color: #000;
  color: #fff;
}

/*#currencyTicker {
  font-size: 18px;
  padding-bottom: 3px;
  height: 25px;
  width: 100%;
  text-align: center;
}*/

#legalCopy {
  display: flex;
  cursor: no-drop;
  user-select: none;
}

#legalCopy section {
  padding: 10px;
  width: 250px;
}

#legalCopy p {
  padding: 5px;
  font-size: 16px;
  line-height: 1.4;
  hyphens: auto;
  text-align: justify;
}

#legalCopy strong {
  font-size: 17px;
  text-decoration: underline;
  background-color: #ddd
}

.sectionHeader {
  width: 250px;
  font-size: 25px;
  padding: 5px;
}
