<style>
  .response-section {
    border-bottom: 1px solid;
    overflow-wrap: break-word;
    font-size: 18px;
    padding: 5px 0;
  }
  .response-data {
    font-size: 28px;
    background-color: #000;
    color: #fff;
  }
  .response-data a {
    color: #fff;
  }
  .api-section {
    padding-bottom: 5px;
    border-bottom: 1px dotted;
  }
  #signup-loading {
    border: 1px solid black;
  }
</style>

<div>
  <div class="response-section">
    YOUR NEW FASTCASH ADDRESS IS: <br>
    <span class="response-data">${scope.address}</span>
  </div>
  <div class="response-section">
    This is your secret token DO NOT GIVE THIS TO ANYONE.
    Whoever posseses this token will have unmitigated access to your fastcash account.<br>
    SECRET TOKEN: <span class="response-data">${scope.secretToken}</span>
  </div>

  <div class="response-section">
    FASTCASHMONEYPLUS.biz is currently in Development Beta mode. As such, the public FASTCASH API is available, with a graphical user interface forthcoming. Esxpected sometime in early 2017.
    <div class="api-section">
      VIEW ALL FASTCASH ADDRESSES AND BALANCES:
      <div class="response-data">
        GET <a href="${scope.CLIENT_ROOT}accounts">
          ${scope.API_ROOT}accounts
        </a>
      </div>
    </div>
    <div class="api-section">
      CREATE A NEW ADDRESS:
      <div class="response-data">
        POST ${scope.API_ROOT}accounts
      </div>
    </div>
    <div class="api-section">
      VIEW ALL TRANSFERS:
      <div class="response-data">
        GET <a href="${scope.API_ROOT}transfers">
          ${scope.API_ROOT}transfers
        </a>
      </div>
    </div>
    <div class="api-section">
      TRANSFER FUNDS FROM YOUR ADDRESS TO ANOTHER ADDRESS
      (NOTE: In development beta, this only queues transfers in the system. A second execution request is required for funds to change hands):
      <div class="response-data">
        POST ${scope.API_ROOT}transfers
      </div>
      WITH THE FOLLOWING JAVA SCRIPT OBJECT NOTATION ("JSON") INCLUDED IN THE REQUEST BODY:<br>
      { payer: &lt;payer address&gt;, payee: &lt;payee address&gt;, amount: &lt;amount: Number&gt; }<br>
      THE REQUEST RETURNS A "JSON" RESPONSE WITH THE FOLLOWING FIELDS:<br>
      { _id: &lt;alpha-numeric identification string&gt;, createdAt: &lt;date of transfer request&gt;, staus: &lt;'PENDING' | 'PROCESSING' | 'FULFILLED'&gt; payer: &lt;payer address&gt;, payee: &lt;payee address&gt;, amount: &lt;amount: Number&gt; }
    </div>
    <div class="api-section">
      EXECUTE TRANSFER:
      <div class="response-data">
        POST ${scope.API_ROOT}transfers/execute
      </div>
      WITH THE FOLLOWING JAVA SCRIPT OBJECT NOTATION ("JSON") INCLUDED IN THE REQUEST BODY:<br>
      { transferId: &gt;_id of transfer request&lt;, payerToken: &gt;address's SECRET TOKEN&lt; }<br>
      THE REQUEST WILL RETURN EITHER A 200 (the transfer was success) OR 500 (the transfer was unsuccess) RESPONSE CODE
    </div>
  </div>
</div>
