* {
  padding: 0;
  margin: 0;
}

#hero {
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
}

h1, h2, h3, h4 {
  display: inline-block;
}

hr {
  margin-top: 43px;
  margin-bottom: 20px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#container {
  padding: 2%;
}

.highlight {
  padding: 5px;
  background-color: yellow;
  border: 1px solid orange;
}

.hl-inline {
  background-color: yellow;
}

.highlight .highlight {
  background-color: #00ffff;
  border: 2px solid #a600ff;
}

.highlight .highlight .highlight {
  background: linear-gradient(135deg, #f00, #00f);
  padding: 0 5px;
  border: 0;
  color: #33ff00;
}

.sectionHeader {
  margin-bottom: 10px;
}

.tinyFont {
  font-size: 0.8em;
}

.label {
  font-family: sans-serif;
  margin-top: 35px;
}

.sansSerif {
  font-family: sans-serif;
}

#tableContainer td {
  border: 1px solid black;
  padding: 3px;
}

#tableContainer {
  font-family: sans-serif;
}

#generateRoutingCode {
  padding: 10px;
  font-size: 25px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa));
  background: linear-gradient(180deg, #ddd, #aaa);
  cursor: pointer;
}

#routingCode {
  width: 100%;
  text-align: center;
  padding: 8px;
  border: 1px solid #888;
  background-color: #eee;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
  word-break: break-word;

}

#sliderContainer {
  border: 2px solid #000;
  background-color: #eee
}

#purchaseAmountSlider {
  width: 90%;
  margin: 20px 5%;
}

#amountOfFastcash {
  font-size: 23px;
  padding: 4px;
}

#amountOfMoneybucks {
  margin-top: 15px;
  font-size: 23px;
  font-family: sans-serif;
}

#fastcashLeft {
  margin-top: 20px;
  margin-bottom: 20px;
}

#fastcashChooser {
  margin-top: 40px;
}

#pleaseContact {
  background-color: pink;
  text-align: center;
  font-size: 23px;
}

.confirmBox {
  font-size: 18px;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.formData {
  font-family: "Courier New", Courier, monospace;
  background-color: #dddddd;
  font-size: 18px;
  padding: 3px;
  max-width: 90vw;
  word-break: break-all;
}

.formData-name {
  background-color: #eeeeee;
  font-size: 17px;
  font-family: sans-serif;
}

.formData, .formData-name {
  border: 1px solid black;
}

#stepsToComplete {
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 20px;
  border: 3px solid red;
}

#myEtherPurchase, #metaMaskPurchase {
  font-size: 20px;
  margin-bottom: 60px;
}

.pLarge {
  font-size: 20px;
  margin-bottom: 10px;
}

#easyCheckout {
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#0000ff));
  background: linear-gradient(0deg, #ff0000, #0000ff);
  -webkit-animation: Checkout 48s ease infinite;
          animation: Checkout 48s ease infinite;
  -webkit-transition: 200ms;
  transition: 200ms;
  border: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
}

#easyCheckout:hover {
  border: 15px solid;
  border-radius: 25px;
}

#easyCheckout:active {
  border: 0;
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
}

@-webkit-keyframes Checkout {
  0% {
    color: #ffff00;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#0000ff));
    background: linear-gradient(0deg, #ff0000, #0000ff);
  }

  17% {
    color: #00ff00;
    background: linear-gradient(60deg, #ffff00, #ff00ff);
  }

  33% {
    color: #00ffff;
    background: linear-gradient(120deg, #00ff00, #ff0000);
  }

  50% {
    color: #0000ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00ffff), to(#ffff00));
    background: linear-gradient(180deg, #00ffff, #ffff00);
  }

  66% {
    color: #ff00ff;
    background: linear-gradient(240deg, #0000ff, #00ff00);
  }

  83% {
    color: #ff0000;
    background: linear-gradient(300deg, #ff00ff, #00ffff);
  }

  100% {
    color: #ffff00;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#0000ff));
    background: linear-gradient(360deg, #ff0000, #0000ff);
  }
}

@keyframes Checkout {
  0% {
    color: #ffff00;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#0000ff));
    background: linear-gradient(0deg, #ff0000, #0000ff);
  }

  17% {
    color: #00ff00;
    background: linear-gradient(60deg, #ffff00, #ff00ff);
  }

  33% {
    color: #00ffff;
    background: linear-gradient(120deg, #00ff00, #ff0000);
  }

  50% {
    color: #0000ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00ffff), to(#ffff00));
    background: linear-gradient(180deg, #00ffff, #ffff00);
  }

  66% {
    color: #ff00ff;
    background: linear-gradient(240deg, #0000ff, #00ff00);
  }

  83% {
    color: #ff0000;
    background: linear-gradient(300deg, #ff00ff, #00ffff);
  }

  100% {
    color: #ffff00;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#0000ff));
    background: linear-gradient(360deg, #ff0000, #0000ff);
  }
}


#gotoWallet {
  display: block;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-transition: 250ms;
  transition: 250ms;
  padding: 20px;
  border-radius: 5px;
  border: 6px solid #00f;
  background-color: #ddddff;
  color: #00f;
}

#gotoWallet:hover {
  background-color: #ffdd00;
}

.continueBox {
  margin-top: 20px;
  color: #220000;
}
.continueBox label {
  font-size: 32px;
}
.continueBox input {
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
  cursor: pointer;
}
